.main__menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}
.main__menu .menu__list {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  font-size: 25px;
}

.main__menu .menu__icon:nth-child(2) {
  position: relative;
}

.main__menu .chats-cnt {
  position: absolute;
  font-size: 12px;
  background-color: #dc5d46;
  padding: 3px;
  border-radius: 50%;
  color: white;
  top: -7px;
  right: -7px;
}
